body
{
    height:100%;
    display:flex;
    margin:0;
    padding:0;
    background-image:url(cloaker-payday2.gif);
    background-size:cover;
    cursor:none;
}
html
{
    height:100%;
}
div
{
    margin:0;
    padding:0;
    flex:1;
}